<% content_for :title do %>
  New Contract
<% end %>

<div class="page-header">
  <h1>New Contract</h1>
  <%= link_to contracts_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Back
  <% end %>
</div>

<%= render 'form' %>
